
#Wrapper{width:100%; height:auto; margin:0 auto;  overflow:hidden;  }
#Header{width:100%; height:118px; margin:0 auto; border-bottom:1px solid #f85915; position:fixed; z-index:99;}
#Container{width:100%; height:auto; margin:0 auto; padding-top:117px;}
#contents{width:1200PX; height:auto; margin:0 auto;}
#Footer{width:100%; height:195px; margin:0 auto; border-top:1px solid #cccccc; background:#fff;} 





   @media (max-width: 1280px) {
   

   #contents{width:100%; height:auto; margin:0 auto;}
   }




   @media (max-width: 480px) {
   
   
   #Container{width:100%; height:auto; margin:0 auto; padding-top:160px;}
   
   }