/*폰트관련*/
.cs_1 {font-size:15px;font-family:"돋움";text-decoration: none; color: #e24a4a; font-weight: bold; }
.cs_2 {font-size:12px;font-family:"돋움";text-decoration: none; color: #e24a4a; font-weight: bold; }
.cs_3 {font-size:13px;font-family:"돋움";text-decoration: none; color: #7b4d0a; font-weight: bold; }
.cs_4 {font-size:13px;font-family:"돋움";text-decoration: none; color: #525252}
.cs_5 {font-size:11px;font-family:"돋움";text-decoration: none; color: #868686}